/* radio-canada-regular - latin */
@font-face {
     font-family: 'Radio Canada';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/radio-canada-v11-latin-regular.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/radio-canada-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/radio-canada-v11-latin-regular.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/radio-canada-v11-latin-regular.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/radio-canada-v11-latin-regular.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/radio-canada-v11-latin-regular.svg#RadioCanada') format('svg');
     /* Legacy iOS */
}

/* radio-canada-700 - latin */
@font-face {
     font-family: 'Radio Canada';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/radio-canada-v11-latin-700.eot');
     /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/radio-canada-v11-latin-700.eot?#iefix') format('embedded-opentype'),
          /* IE6-IE8 */
          url('../fonts/radio-canada-v11-latin-700.woff2') format('woff2'),
          /* Super Modern Browsers */
          url('../fonts/radio-canada-v11-latin-700.woff') format('woff'),
          /* Modern Browsers */
          url('../fonts/radio-canada-v11-latin-700.ttf') format('truetype'),
          /* Safari, Android, iOS */
          url('../fonts/radio-canada-v11-latin-700.svg#RadioCanada') format('svg');
     /* Legacy iOS */
}

@font-face {
     font-family: 'OpenSans-Regular';
     src: url('../fonts/OpenSans-Regular.woff'),
          url('../fonts/OpenSans-VariableFont_wdth,wght.woff2');
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'Roboto-Light';
     src: url('../fonts/Roboto-Light.woff'),
          url('../fonts/Roboto-Light.woff2');
     font-weight: 300;
     font-style: normal;
}



@font-face {
     font-family: 'Roboto-Regular';
     src: url('../fonts/Roboto-Regular.woff'),
          url('../fonts/Roboto-Regular.woff2');
     font-weight: 400;
     font-style: normal;
}


@font-face {
     font-family: 'Roboto-Medium';
     src: url('../fonts/Roboto-Medium.woff'),
          url('../fonts/Roboto-Medium.woff2');
     font-weight: 500;
     font-style: normal;
}



@font-face {
     font-family: 'Roboto-Bold';
     src: url('../fonts/Roboto-Bold.woff'),
          url('../fonts/Roboto-Bold.woff2');
     font-weight: 700;
     font-style: normal;
}